// Colors
$body-color: #b0b0b0;

// Colors
$blue: #24abee;
$red: #ff2940;
$orange: #ff5b15;
$yellow: #ffcb16;
$green: #55c12d;
$green-acid: #33d450;
$green-secondary: #9dc13c;
$cyan: #17a2b8;
$warning: $orange;
$success: $green;
$twitter: #1da1f2;
$pink: #e83e8c;

$primary: $red;
$secondary: $pink;
$dark: #1b1b1c;
$white: white;
$black: #0f0f10;

$gray-100: #fcfcfd;
$gray-200: #ededee;
$gray-300: #d1d1d2;
$gray-400: #959596;
$gray-500: #6d6d6e;
$gray-600: #575758;
$gray-700: #444445;
$gray-800: #29292a;
$gray-900: #1b1b1c;
$gray: $gray-500;
$dark-gray: $gray-600;
$code-color: $secondary;

$light: $gray-200;

$body-bg: $black;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~assets/scss/bootstrap/variable-overrides';
